<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
</head>
<body bgcolor="white">
<h1>Ooooh yeah</h1>

{{D}}
<br>
<a href="http://127.0.0.1:8000/blog/">House</a>
<br>
<table border="6" align="center">
    <caption>Result</caption>
    <tr>
        <td>sr.no</td>
        <td>subject</td>
        <td>sing</td>
        <td>remark</td>
    </tr>
    <tr>
        <td>0</td>
        <td>English</td>
        <td>Shaikh</td>
        <td>64</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Hindi</td>
        <td>Arbaz</td>
        <td>78</td>
    </tr>
</table>
<table border="6" align="center">
    <tr>
        <th>First_name:</th><td><input type="text" name="First_name" placeholder="">
    </td>
    </tr>

</table>
</body>
</html>