<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todays News</title>
</head>
<body>
<h1 align="center">TODAYS NEWS(Times of India)</h1>
<table align="center">
        <tr><td><a href="http://127.0.0.1:8000/home"><button >HOME PAGE</button></a></tr></td>
</table>

<ul>
{% for a in data %}
    <li>{{ a }}</li>
{% endfor %}
</ul>

<ul>
{% for i in data1 %}
    <li>{{ i }}</li>
{% endfor %}
</ul>

<ul>
{% for z in datab %}
    <li>{{ z }}</li>
{% endfor %}
</ul>

<ul>
{% for b in data2 %}
    <li>{{ b }}</li>
{% endfor %}
</ul>
<ul>
{% for c in data3 %}
    <li>{{ c }}</li>
{% endfor %}
</ul>
<ul>
{% for d in data4 %}
    <li>{{ d }}</li>
{% endfor %}
</ul>
<ul>
{% for e in data5 %}
    <li>{{ e }}</li>
{% endfor %}
</ul>
<ul>
{% for f in data6 %}
    <li>{{ f }}</li>
{% endfor %}
</ul>


</body>
</html>